<launch>
  <node name="qxwz_rtcm_service" pkg="qxwz_rtcm_service" type="qxwz_service_core" output = "screen">
    <rosparam>
        appkey: A4821kee4iuh
        appSecret: 80e4cb74317122f1 
        deviceId: your deviceId
        deviceType: your deviceType
        ggaTopic: /ggaName
        rtcmTopic: /qxwz_rtcm_msg        
    </rosparam>
  </node>
</launch>

